<h2> {{title}} </h2>

<!-- {{pokemons | json}} -->
<!-- {{habilidades | json}} -->

<div class="row mb-3">
    <div class="col"> <!-- Col Busqueda -->
        <input type="search" [(ngModel)]="busqueda" class="form-control" placeholder="Busca Pokemons por su Nombre.">    
        <ng-template [ngIf]="pokemonEliminado">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                El Pokemon con ID - <b> {{pokemonEliminado.id}} </b> y con Nombre - <b> {{pokemonEliminado.nombre}} </b> ha sido Eliminada.
            </div>
        </ng-template>
        <ng-template [ngIf]="pokemonCreado">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                El Pokemon con ID - <b> {{pokemonCreado.id}} </b> y con Nombre - <b> {{pokemonCreado.nombre}} </b> se ha Creado Correctamente.
            </div>
        </ng-template> 
        <ng-template [ngIf]="pokemonModificado">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                El Pokemon con ID - <b> {{pokemonModificado.id}} </b> y con Nombre - <b> {{pokemonModificado.nombre}} </b> se ha Modificado Correctamente.
            </div>
        </ng-template>      
    </div> <!-- /Col Busqueda -->
</div>

<div class="row mb-3"> <!-- Row Detalle -->
    <div class="col-5"> <!-- Col Listado -->
        <h2> Pokemons </h2>
        <ul class="list-group"> 
            <li *ngFor="let pokemon of pokemons | pokemonFiltro : busqueda" 
                (click)="pokemonSeleccionado = pokemon"
                class="list-group-item {{(pokemon == pokemonSeleccionado)?'active': ''}}">
                <div class="row">
                    <div class="col">
                        <b> {{pokemon.nombre}} </b>
                    </div>
                    <div class="col">
                        <button class="text-danger" (click) = "eliminarPokemon(pokemon)"> <i class="fas fa-trash"></i> </button>
                    </div>
                </div>
            </li>
        </ul>
    </div> <!-- /Col Listado -->
    <div class="col-7"> <!-- Col Detalle -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <ng-template [ngIf]="pokemonSeleccionado" [ngIfElse]="lista">
                        <img src="{{pokemonSeleccionado.imagen}}" class="card-img-top" alt="...">
                        <div class="card-body row">
                            <!-- {{pokemonSeleccionado | json}} -->
                            <p> ID: <b> {{pokemonSeleccionado.id}} </b> </p>
                            <p> Nombre: <b> {{pokemonSeleccionado.nombre}} </b> </p>
                            <p> Habilidades: <b> {{pokemonSeleccionado.habilidades | json}} </b> </p>
                            <button class="btn btn-primary btn-block" (click) = "modificarPokemon(pokemonSeleccionado)"> Modificar Pokemon </button> 
                        </div>
                    </ng-template>
                    <ng-template #lista>
                        <img src="../../../assets/image/pokemonletsgo_900154_manual.jpg" class="card-img-top" alt="...">
                        <div class="card-body"> </div>
                    </ng-template>
                </div>
            </div>
            <div class="col">
                {{formularioPokemon.value | json}}
                <form [formGroup] = "formularioPokemon" (ngSubmit) = "enviar(formularioPokemon.value)">
                    <small *ngIf="formularioPokemon.controls.nombre.invalid && formularioPokemon.controls.nombre.dirty"
                        class="text-danger" >Minimo 2 caracteres Maximo 50 </small>
        
                    <small *ngIf="formularioPokemon.controls.nombre.valid"
                        class="text-success"> Nombre Pokemon Correcto </small> 
        
                    <input type="text" formControlName = "nombre"
                        placeholder = "Nombre Pokemon"
                        class = "form-control mb-2"/>

                    <small *ngIf="formularioPokemon.controls.imagen.invalid && formularioPokemon.controls.imagen.dirty"
                        class="text-danger" >Minimo 2 caracteres Maximo 250 </small>
        
                    <small *ngIf="formularioPokemon.controls.imagen.valid"
                        class="text-success"> Imagen del Pokemon Correcta </small> 

                    <input type="text" formControlName = "imagen"
                        placeholder = "Imagen Pokemon"
                        class = "form-control mb-2"/>
                    
                    <div *ngFor="let habilidad of habilidades">
                        <label>
                            <input type="checkbox"
                                    name="habilidad"
                                    (change)="checkCambiado(habilidad)"
                                    value="{{habilidad.id}}"/>
                                {{habilidad.habilidad}}
                        </label>
                    </div>

                    <input  type="submit" 
                        [disabled] = "formularioPokemon.invalid" 
                        value="Enviar"
                        class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div> <!-- /Col Detalle -->
</div> <!-- /Row Detalle -->
