<main class="container pt-2">
    <!-- Componente de Amgular para sistema de Rutas o Navegación -->
    <router-outlet></router-outlet>
</main>

<hr>

<footer>
    <!-- {{global | json}} -->
    <div> 
        <ul class="p-2" *ngFor = "let g of global">
            <li> Usuario: {{g.usuario}} </li>
            <li> Nombre: {{g.nombre}} </li>
            <li> GitHub: <a href="{{g.github}}" class="fab fa-github" target="_blank"> {{g.github}} </a> </li>
            <li> Version: {{g.version}} </li>
        </ul>
    </div>
</footer>